<div fxLayout="column" fxLayoutAlign="center center" class="main-div">
    <div class="card" style="width: 95%">
        <div class="divider"><span></span><span>Frequently Asked Questions</span><span></span></div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <table>
                <tr *ngFor="let question of questions">
                    <td style="padding-bottom: 20px">
                        <div fxLayout="column">
                            <b style="font-size: x-large; padding-bottom: 10px;">{{question.question}}</b>
                            <span style="font-size: large">{{question.answer}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <footer></footer>
    </div>
</div>