<div fxLayout="column" fxLayoutAlign="center center" class="main-div">

    <div class="card" style="width: 95%">
        <div class="divider"><span></span><span>picturePage</span><span></span></div>
        <div [innerHTML]="contactInfo" class="layout-img contactDiv"></div>
        <div fxLayout="column" fxLayoutAlign="center center" class="contactDiv">
            <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem; font-size: medium;">
                <footer></footer>
            </div>
        </div>