<div fxLayout="column" fxLayoutAlign="center center" class="main-div">

    <div class="card" style="width: 95%">
        <div class="divider"><span></span><span>Contacts</span><span></span></div>
        <div fxLayout="column" fxLayoutAlign="center center" class="contactDiv">

            <table>
                <tr>
                    <td>
                        <b>Country Creek Trustees</b>

                    </td>
                </tr>
                <tr>
                    <td>
                        Email: CountryCreekHOA63376@gmail.com
                    </td>
                </tr>
                <tr><br> </tr>
                <tr>
                    <td>
                        Larry Babb, term through 2025
                    </td>
                </tr>
                <tr>
                    <td>
                        Sara Wagner, term through 2023
                    </td>
                </tr>
                <tr>
                    <td>
                        Heidi Wilkosz, term through 2024
                    </td>
                </tr>
                <tr>
                    <br>
                </tr>
                <tr>
                    <td>
                        <b>Managing Group:</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alpha Real Estate Group
                    </td>
                </tr>
                <tr>
                    <td>
                        Richard Rowe
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone: 636-441-9200
                    </td>
                </tr>
                <tr>
                    <td>
                        Email: Richard.rowe@alpharealestategrp.com
                    </td>
                </tr>
                <tr><br></tr>
                <tr>
                    <td>
                        <b>City of St. Peters</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="www.stpetersmo.net" target="_blank">www.stpetersmo.net</a>
                    </td>
                </tr>
                <tr><br></tr>
                <tr>
                    <td>
                        <b>St. Peters Alderman:</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alderman Nick Trupiano, Ward 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Email: Alderman.Trupiano@stpetersmo.net
                    </td>
                </tr>
                <tr><br></tr>
                <tr>
                    <td>
                        Alderman Patrick Barclay, Ward 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Email: Alderman.Barclay@stpetersmo.net
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem; font-size: medium;">
        <footer></footer>
    </div>
</div>