<div id="header">
    <img width="100%" height="auto" src="../../assets/Sign.png" fxFlex>
</div>
<div [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" id="menubar">
    <div fxFlex fxLayoutAlign="center center">
        <mat-tab-group>
            <mat-tab label="Home" style="font-size:x-large"></mat-tab>
            <mat-tab label="Indentures"></mat-tab>
            <mat-tab label="Pictures"></mat-tab>
            <mat-tab label="Contact"></mat-tab>
            <mat-tab label="FAQ"></mat-tab>
        </mat-tab-group>
    </div>
</div>

<router-outlet></router-outlet>