.fixed-header {
    position: fixed;
    z-index:999;
    height: 50px;
  }
  
  #header {
    height: 400px;
    width: 100%;
    //top: 50px;
    position: relative;
    background: #2ab4c0;
    background-image: url("../../assets/Sign.png");
    background-size: cover;
  }
  
  .mat-elevation-z5 {
    position: relative;
    z-index:999;
    background: #2ab4c0;
    width: 100%;
  }
  
  .sticky {
    z-index:999;
    background: #2ab4c0;
    position: fixed;
    top: 0px;
    width: 100%;
  }