<div id="header">
    <img width="100%" height="auto" src="../../assets/Sign.png" fxFlex>
</div>
<!-- <div [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" id="menubar">
    <div fxFlex fxLayoutAlign="center center">
        <mat-tab-group>
            <mat-tab label="Home" style="font-size:x-large"></mat-tab>
            <mat-tab label="Indentures"></mat-tab>
            <mat-tab label="Pictures"></mat-tab>
            <mat-tab label="Contact"></mat-tab>
            <mat-tab label="FAQ"></mat-tab>
        </mat-tab-group>
    </div>
</div> -->
<div [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" id="menubar">
    <div fxFlex fxLayoutAlign="center center">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link" [active]="activeLink == link"
                [routerLink]="link">
                {{link}} </a>
        </nav>
    </div>
</div>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>