<div fxLayout="column" class="main-div">
    <div fxFill fxLayoutAlign="center center">
        <h1>Welcome To Country Creek Subdivision</h1>
    </div>
    <div fxFill fxLayoutAlign="center center">
        <mat-tab-group>
            <mat-tab label="Home" style="font-size:x-large"></mat-tab>
            <mat-tab label="Indentures"></mat-tab>
            <mat-tab label="Pictures"></mat-tab>
            <mat-tab label="Contact"></mat-tab>
            <mat-tab label="FAQ"></mat-tab>
        </mat-tab-group>
    </div>
    <h1 style="margin-top: 1.5rem">Upcoming Events</h1>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <events></events>
    </div>
    <h1 style="margin-top: 2rem">Around the Neighborhood</h1>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <pictures></pictures>
    </div>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <footer></footer>
    </div>
</div>