mat-form-field {
    width: 100%;
  }

.mat-column-firstName{
  padding-right: 3rem;
  padding-left: 1rem;
}

.mat-column-lastName{
  padding-right: 3rem;
  padding-left: 1rem;
}

.mat-column-userName{
  padding-right: 3rem;
  padding-left: 1rem;
}

.mat-header-cell{
  margin: 1rem;
}

.sticky {
  z-index:999;
  background: #2ab4c0;
  position: fixed;
  top: 0px;
  width: 100%;
}
