<div fxLayout="column" class="main-div">
    <div class="card">
    <div class="divider"><span></span><span>Upcoming Events</span><span></span></div>
    <events></events>
</div>
<div class="card" fxLayout="column">
    <div class="divider"><span></span><span>Around the Neighborhood</span><span></span></div>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <pictures></pictures>
    </div>
</div>
    <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 1rem">
        <footer></footer>
    </div>
    
</div>